body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vc-screen-wrapper.image-auto img {
  /* width: 90px !important; */
  color: rgba(189, 125, 13, 1) !important;
}

.spinner-onkar {
  position: fixed;
  right: 350px;
  /* width: 300px !important; */
  /* height: 300px; */
  top: 20px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.spinner-onkar svg{
  margin:0 auto;
}

.spinner-onkar button{
  display: block;
    text-align: center;
    margin: 30px auto;
}

.home-wrapper .bhdLno img{
  width: 60px !important;
}

.home-wrapper .bhdLno + button {
  position: absolute;
  right: 455px;
  top: 340px;
  z-index: 5;
}

.spin-wheel-class {
  position: fixed;
    top: 127px;
    left: 15px;
    z-index: 9999999999  !important;
}

.show-hide-action-btns {
  display: block !important;
}


img.edit-image.selected {
  outline: 5px solid var(--theme-txt-color);
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 10px;
  padding-top: 15px;
  border-radius: 10px;
  padding-bottom: 10px;
  border: 1px solid #F4C862;
  padding: 30px 20px 20px 20px;
}
.edit-image-outer {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-image-outer img {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.edit-image-outer i.fa.fa-times {
  position: absolute;
  left: 0px;
  background: #d0972b;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  top: -12px;
  cursor: pointer;
  /* visibility: hidden; */
}

.edit-image-outer:hover i{
  /* visibility: visible !important; */
}

img.edit-image:hover {
  cursor: pointer;
}
span.warning-emoji {
  font-size: 20px;
}

.live-icon-top {
  width: 40px;
}

.live-icon-top img{
  width: auto !important;
}

.message-body.audio-added {
  background-color: unset !important;
  background: unset !important
}

.chat-chat {
  color: #d72c2c;
}

/* terms and conditions starts */

.terms_conditions{
  font-family: 'Poppins';
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-style: normal !important;
}

.terms_conditions ol{
  margin-bottom: 0px;
  list-style: decimal;
}

.terms_conditions ol li{
  margin-bottom: 1rem;
  line-height: 1.8;
}

.terms_conditions .list-section > li{
  border-bottom: 1px dashed #eee;
  padding-bottom: 20px;
}  

@media (max-width:767px){
  .terms_conditions {
      max-width: -webkit-fill-available;
      padding: 0px 20px;
  }

  .terms_conditions h1{
      font-size: 22px;
  }

  .terms_conditions p, .terms_conditions ol li{
      font-size: 14px;
  }

  .terms_conditions ol li{
      margin-bottom: 1rem;
  }

 .terms_conditions ol{
  padding: 0px;
 }
}


/* terms and conditions ends */

button.btn.bg-grd-clr.reload-mobile {
  margin-bottom: 15px;

  height: 35px;
  line-height: 38px;

  margin-left: auto;
}

button.btn.bg-grd-clr.reload-web {
  margin-bottom: 15px;

  margin-left: 45%;
}



.disable-coin-package {
  background: #878787 !important;
  pointer-events: none !important;
}

.disable-btn {
  pointer-events: none;
}